.header{
    text-align: center;
    width: 100%;
    height: 90px;
    background-color:lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color:mediumaquamarine;
}

#LogoGG{
    width: 100px;
}

#LogoGit{
    width: 100px;
}

div{
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
}




