<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Modelo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
            <th scope="row">{{auto._id}}</th>
            <td>{{ auto.marca }}</td>
            <td>{{ auto.submarca}}</td>
            <td>{{ auto.modelos}}</td>
            <td><i class="fas fa-trash-alt fa-2x"></i></td>
            <td (click)="openModalEditar(auto)"><i class="fas fa-edit fa-2x"></i></td>
            
        </tr>
    </tbody>
</table>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length"></ngb-pagination>