
nav{
    width: 33%;

}
.Barra:hover{
    background-color: rgb(231, 222, 222);
}

.GeneralPanel{
    height: 80%;
    background-color:rgb(216, 230, 225);
    text-align: center;
    justify-content: space-around;
    display:flex;
}

.Barra{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin: 10px , 10px, 10px;
    display: inline-block;

}



