<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<html>
<div >
    <div class="GeneralPanel">
            <nav>
                <b class="Barra" routerLink="/list" routerLinkActive="active"   >Lista</b> 
            </nav>
               
            <nav>
                <b class="Barra"  routerLink="/table" routerLinkActive="active" > Tabla</b>
            </nav>

            <nav>
                <b class= "Barra" routerLink="/log" routerLinkActive="active" > Log</b>
            </nav>
             
    </div>
</div>
</html>