
.GeneralPanel:hover{
    text-decoration: underline;
    background-color: rgb(231, 222, 222);
    cursor:pointer;
}

.GeneralPanel{
    background-color:rgb(216, 230, 225);
    font-size: 12px;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
}

.LinkBarra{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    border:rgb(216, 230, 225);
    border-style: solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    text-align: center;
}


