<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Lo cerre')">
        <span aria-hidden="true">X</span>
    </button>
</div>

<div class="modal-body">
    <form #formAutos="ngForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="formGroupExampleInput">Marca</label>
            <input type="text" class="form-control" id="marca" placeholder="Agregar la marca" [(ngModel)]="auto.marca"
                name="marca" required minlength="4" #marca="ngModel">
        </div>
        <div *ngIf="marca.invalid && (marca.dirty || marca.touched)">
            <div *ngIf="marca.errors.minlength" class="alert alert-danger">La marca debe tener un minimo de 4 caracteres</div>
            <div *ngIf="marca.errors.required"  class="alert alert-danger">La marca es requerida</div>
        </div>

        <!--<div [hiden]="marca.valid || marca.pristine" class="alert alert-danger">
            La marca es requerida
        </div>-->

        <div class="form-group">
            <label for="formGroupExampleInput">Submarca</label>
            <input type="text" class="form-control" id="submarca" placeholder="Agregar la submarca"
                [(ngModel)]="auto.submarca" name="submarca" required minlength="4" #submarca="ngModel">
        </div>

        <div *ngIf="submarca.invalid && (submarca.dirty || submarca.touched)">
            <div *ngIf="submarca.errors.minlength"  class="alert alert-danger">La submarca debe tener un minimo de 4 caracteres</div>
            <div *ngIf="submarca.errors.required"  class="alert alert-danger">La submarca es requerida</div>
        </div>

        <!--<div [hiden]="submarca.valid || submarca.pristine" class="alert alert-danger">
            La submarca es requerida
        </div>-->

        <div class="form-group">
            <label for="formGroupExampleInput">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" placeholder="Agregar la descripcion"
                [(ngModel)]="auto.descripcion" name="descripcion">
        </div>

        <!--<div class="form-group">
            <label for="formGroupExampleInput">Modelo</label>
            <input type="text"  class="form-control" id="modelo" placeholder="Agregar el modelo"
                [(ngModel)]="auto.modelos" name="modelos">
        </div>-->
        <div class="form-group">
            <label for="formControlRange"><b>Modelos</b></label>
            <div style="justify-content: space-between;">
                <label>Desde</label>
                <div style="display: flex;">
                    <input type="range" class="form-control-range" min="2000" max="2020" [(ngModel)]="desde"
                        name="modelos">
                    <span>{{desde}}</span>
                </div>
                <label>Hasta</label>
                <div style="display: flex;">
                    <input type="range" class="form-control-range" min="2000" max="2020" [(ngModel)]="hasta"
                        name="modelos">
                    <samp>{{hasta}}</samp>
                </div>
            </div>
            <div *ngIf="desde > hasta" class="alert alert-danger"> Rango incorrecto </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" [disabled]="!formAutos.form.valid">Guardar</button>
        </div>


    </form>


</div>